* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #050505;
  gap: 300px;
}
.cube {
  position: relative;
  height: 300px;
  width: 300px;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube div {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#151515, #00ec00);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  transform: rotateX(90deg) translatez(150px);
}
.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  background: #00ec00;
  transform: translateZ(-380px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0, 225, 0, 0.2), 0 0 200px rgba(0, 225, 0, 0.4),
    0 0 300px rgba(0, 225, 0, 0.6), 0 0 400px rgba(0, 225, 0, 0.8),
    0 0 500px rgba(0, 225, 0, 1);
}

.cube1 {
  position: relative;
  margin-top: -250px;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
  animation: animate 4s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
.cube1 div {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.cube1 div span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#151515, #ec0000);
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top1 {
  position: absolute;
  top: 0;
  left: 0;
  background: #222;
  transform: rotateX(90deg) translatez(150px);
}
.top1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 300px;
  background: #ec0000;
  transform: translateZ(-380px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(225, 0, 0, 0.2), 0 0 200px rgba(225, 0, 0, 0.4),
    0 0 300px rgba(225, 0, 0, 0.6), 0 0 400px rgba(225, 0, 0, 0.8),
    0 0 500px rgba(0, 225, 0, 1);
}
